<!DOCTYPE html>
<html>
<head>
    <title>Planteer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>

<nav class="navbar">
    <div class="logo">🌿 Planteer</div>

    <div class="nav-links">
        <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="/plants/all/" class="{% if 'plants/all' in request.path %}active{% endif %}">All Plants</a>
        <a href="/plants/new/" class="{% if 'plants/new' in request.path %}active{% endif %}">Add Plant</a>
        <a href="/plants/search/">Search</a>
        <a href="{% url 'publishers_list' %}">Publishers</a>
        <a href="{% url 'contact' %}">Contact</a>
        <a href="{% url 'contact_messages' %}">Messages</a>

    </div>
</nav>

<main class="main-content">
    {% block content %}
    {% endblock %}
</main>
<footer class="footer">
    <div class="footer-inner">

       
        <div class="footer-section">
            <h3>Quick Links</h3>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'all_plants' %}">All Plants</a>
            <a href="{% url 'search_plants' %}">Search</a>
            <a href="{% url 'publishers_list' %}">Publishers</a>
            <a href="{% url 'contact_messages' %}">Messages</a>
        </div>

      
        <div class="footer-section">
            <h3>Planteer 🌱</h3>
            <p>
                Discover plants from around the world, explore their origins,
                and learn more about nature in a simple and beautiful way.
            </p>
        </div>

       
        <div class="footer-section center">
    <h3>Stay Connected 🌿</h3>
    <p>Follow us and stay updated with the latest plants and discoveries.</p>

    <div class="socials">
        <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
    
        <a href="#"><i class="fab fa-linkedin"></i> LinkedIn</a>
    </div>
</div>

        <div class="footer-section">
            <h3>Contact</h3>
            <p>✉️:support@planteer.com</p>
            <p>📍:Saudi Arabia </p>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Planteer 🌱 
    </div>
</footer>
</body>
</html>