<!DOCTYPE html>
<html>
<head>
    <title>Planteer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>

<body>

<nav class="navbar">
    <div class="logo">🌿 Planteer</div>

    <div class="nav-links">
        <a href="/" class="{% if request.path == '/' %}active{% endif %}">Home</a>
        <a href="/plants/all/" class="{% if 'plants/all' in request.path %}active{% endif %}">All Plants</a>
        <a href="/plants/new/" class="{% if 'plants/new' in request.path %}active{% endif %}">Add Plant</a>
        <a href="/plants/search/">Search</a>
        <a href="/contact/">Contact</a>
        <a href="/contact/messages/">Messages</a>
    </div>
</nav>

<main class="main-content">
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">

    <div class="footer-inner">  


        <div class="footer-section right">
            <h4>Quick Links</h4>
            <a href="/">Home</a>
            <a href="/plants/all/">All Plants</a>
            <a href="/plants/search/">Search</a>
            <a href="/contact/">Contact</a>
        </div>

   
        <div class="footer-section center">
            <h3>Planteer 🌱</h3>
            <p>Discover the beauty of nature</p>
        </div>

   
        <div class="footer-section left">
            <h4>Contact</h4>
            <p>Email: support@planteer.com</p>
            <p>Saudi Arabia 🇸🇦</p>
        </div>

    </div>

    <div class="footer-bottom">
        <p>© 2026 Planteer 🌱</p>
    </div>

</footer>

</body>
</html>