{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<div class="detail-container">

    <div class="detail-image">
        {% if plant.image %}
            <img src="{{ plant.image.url }}" alt="{{ plant.name }}">
        {% else %}
            <img src="{% static 'plants/default.jpg' %}" alt="{{ plant.name }}">
        {% endif %}
    </div>

    <div class="detail-info">
        <h1>{{ plant.name }}</h1>

        <p>{{ plant.description }}</p>

        <p><strong>Category:</strong> {{ plant.category }}</p>
        <p><strong>Edible:</strong> {% if plant.is_edible %}Yes{% else %}No{% endif %}</p>

        {% if plant.publisher %}
        <div class="publisher-box">
            <strong>Publisher:</strong>
            <a href="{% url 'plants_by_publisher' plant.publisher.id %}" class="tag">
                {{ plant.publisher.name }}
            </a>
            <p class="publisher-desc">
                {{ plant.publisher.description|default:"No description available" }}
            </p>
        </div>
        {% endif %}

        <hr>

   
        <div class="info-tags">
            <strong>Countries:</strong><br>
           {% for c in plant.countries.all %}
    <a href="{% url 'plants_by_country' c.id %}" class="country-item">

        {% if c.flag %}
            <img src="{{ c.flag.url }}" class="flag">
        {% endif %}

        <span>{{ c.name }}</span>

    </a>
{% endfor %}
          
        </div>

        <hr>
<div class="actions">

    <a href="{% url 'update_plant' plant.id %}" class="btn edit">
        Edit
    </a>

    <form method="POST" action="{% url 'delete_plant' plant.id %}">
        {% csrf_token %}
        <button type="submit" class="btn delete">
            Delete
        </button>
    </form>

</div>
    </div>

</div>

<hr>

<h2 class="section-title">Related Plants</h2>

<div class="plants-grid">
    {% for plant in related %}
        {% include 'plants/plant_card.html' %}
    {% empty %}
        <p>No related plants found.</p>
    {% endfor %}
</div>

<hr>

<h2 class="section-title">Comments</h2>

<div class="comments-section">

    {% for c in comments %}
        <div class="comment-card">
            <h4>{{ c.name }}</h4>
            <p>{{ c.text }}</p>
            <small>{{ c.created_at }}</small>
        </div>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}

</div>

<hr>

<h3 class="section-title">Add Comment</h3>

<form method="POST" action="{% url 'add_comment' plant.id %}" class="add-form">
    {% csrf_token %}

    <div class="form-group">
        <label>Your Name</label>
        <input type="text" name="name" required minlength="2">
    </div>

    <div class="form-group">
        <label>Your Comment</label>
        <textarea name="comment" required minlength="3" placeholder="Write your comment..."></textarea>
    </div>

    <button type="submit" class="btn">Add Comment</button>
</form>

{% endblock %}